<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>AppLovinSdkKey</key>
	<string>xcGD2fy-GdmiZQapx_kUSy5SMKyLoXBk8RyB5u9MVv34KetGdbl4XrXvAUFy0Qg9scKyVTI0NM4i_yzdXih4XE</string>
	<key>NSAppTransportSecurity</key>
	<dict>
   		<key>NSAllowsArbitraryLoads</key>
    	<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5333220833779174~6867378757</string>
	<key>GADIsAdManagerApp</key>
	<true/>
</dict>
</plist>
